@model dynamic

@{ ViewBag.Title = "New Order Form"; }

<h2>New Order Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>User</label>
        <div class="tt-container">
            <input id="user" name="user" data-rule-validUser="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Product</label>
        <div class="tt-container">
            <input id="product" name="product" data-rule-atLeastOneProduct="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="products" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>$(document).ready(function () {

            var vm = {
                productIds: []
            };

            var users = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('firstname'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/appuser?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#user').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'users',
                display: 'firstname',
                source: users
            }).on("typeahead:select", function (e, user) {
                vm.userId = user.id;
            });

            var products = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/products?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#product').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'products',
                display: 'name',
                source: products
            }).on("typeahead:select", function (e, product) {
                $("#products").append("<li class='list-group-item'>" + product.name + "</li>");

                $("#product").typeahead("val", "");

                vm.productIds.push(product.id);
            });

            $.validator.addMethod("validUser", function () {
                return vm.userId && vm.userId !== 0;
            }, "Please select a valid user.");

            $.validator.addMethod("atLeastOneProduct", function () {
                return vm.productIds.length > 0;
            }, "Please select at least one product.");

            var validator = $("#newRental").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newOrders",
                        method: "post",
                        data: vm
                    })
                        .done(function () {
                            toastr.success("Order successfully recorded.");

                            $("#user").typeahead("val", "");
                            $("#product").typeahead("val", "");
                            $("#products").empty();

                            vm = { productIds: [] };

                            validator.resetForm();
                        })
                        .fail(function () {
                            toastr.error("Something unexpected happened.");
                        });

                    return false;
                }
            });
        });</script>
}
